.Layout {
	height: 100vh;
	display: flex;

	&__Right {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;

		background-color: #ccc;

		.Main {
			overflow-y: auto;
			flex-grow: 1;
			background-color: green;
		}
	}
}
